html,body{
    height: 100%;
}

main{
    height: 100%;
    display: flex;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

hr{
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: 0;
    height: 2px;
    width: 50%;
    border-radius: 5rem;
    background: gray;
}

ul{
    all: unset;
    list-style-type: none;
}

.main{
    font-size: x-large;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main > li > img{
    width: 7rem;
}

.row{
    gap: 3rem;
}

.column{
    flex-direction: column;
}
