body, html, #container{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#default-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#default-container h1{
    margin: 0;
    pointer-events: none;
}

#default-container h4 {
    font-family: arial;
    margin: 1rem 0 2rem 0;
    font-weight: normal;
    width: 85%;
}

#container{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

#deck{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

#deck > * {
    width: 100%;
}

#controller {
    font-family: monospace;
    width: 100% !important;
    border-radius: 0;
    text-align: center;
    border: 0;
    border-radius: 0;
    padding: 1rem 0;
    font-size: x-large;
}

.card{
    display: flex;
    background: gray;
    padding: 0.5rem 0 1rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.1rem 0;
    color: white;
    pointer-events: none;
}

.card img{
    height: 8rem;
}

.card span{
    margin: 0;
    padding: 0;
}

.card p, .card h4{
    background: rgba(10,30,60,0.5);
    padding: 0.5rem 5rem;
    border-radius: 1rem;
}
.card h4{
    font-size: large;
    margin: 0;
}
.card p{
    font-size: large;
}

.Clear {
    background: rgb(203,232,255);
    background: radial-gradient(circle, rgba(203,232,255,1) 0%, rgba(73,164,255,1) 100%);
}

.Clouds, .Dust, .Fog, .Haze, .Mist {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(44,89,134,1) 100%);
}

.Rain, .Drizzle {
    background: rgb(191,223,255);
    background: radial-gradient(circle, rgba(191,223,255,1) 0%, rgba(48,63,78,1) 100%);
}

.Thunderstorm {
    background: rgb(55,76,108);
    background: radial-gradient(circle, rgba(55,76,108,1) 0%, rgba(6,20,34,1) 100%);
}

.Snow, .Squall {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(174,215,255,1) 100%);
}

.Sand, .Smoke, .Tornado{
    background: rgb(255,249,203);
    background: radial-gradient(circle, rgba(255,249,203,1) 0%, rgba(57,49,45,1) 100%);
}

.popup{
    all: unset;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    top: 40%;
    background: white;
    width: 30% !important;
    padding: 0.1rem;
    border-radius: 0.2rem;
    border: 0.15rem solid black;
}

.popup div:first-child{
    background: slategray;
    color: white;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    cursor: grab;
    user-select: none;
}

.popup div:nth-child(2){
    background: white;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.polka-dot {
  width: 240px;
  height: 240px;
  background-color: #eee;
  background-image: radial-gradient(#fff 10%, transparent 11%),
    radial-gradient(#fff 10%, transparent 11%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
  background-repeat: repeat;
}

button{
    all: unset;
    background: slategray;
    border: 0.2rem solid slategray;
    color: white;
    border-radius: 2rem;
    padding: 0.7rem 1.5rem;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    width: 35% !important;
}

button:hover{
    background: lightslategray;
}